<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.inthree.boon.deliveryapp">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.vogella.android.locationapi.maps.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:glEsVersion="0x00020000" />


    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission
        android:name="android.permission.FLASHLIGHT"
        android:permissionGroup="android.permission-group.HARDWARE_CONTROLS"
        android:protectionLevel="normal"
        android:required="true" />
    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".app.AppController"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity android:name=".activity.BFILBulkDelivery"></activity>
        <activity
            android:name=".activity.BFILBranchActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoAction" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.imageprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".newcamera.PreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeFullscreen" />
        <activity
            android:name=".newcamera.CameraFragmentMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeFullscreen" /> <!-- <activity android:name=".activity.OrderDetails"/> -->
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoAction" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MenuStartActviity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoAction" />
        <activity
            android:name=".activity.DeliveryActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name=".utils.MyFileContentProvider"
            android:authorities="${applicationId}.imageprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".activity.OrderDetails"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.UndeliveryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.SummaryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SignatureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ServiceSignActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ResetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".camera.CameraTestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.ServiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ServiceDetails"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoAction" />
        <activity
            android:name=".activity.ServiceIncompleteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PartialPickupProduct"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" /> <!-- Gms version -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activity.MapsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <service android:name=".fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name="me.ydcool.lib.qrmodule.activity.QrScannerActivity" />
        <activity
            android:name=".activity.PartialDelivery"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MenuServiceActvity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoAction" />
        <activity
            android:name=".activity.PickupDelivery"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VoterOcrActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeFullscreen" />

        <service
            android:name=".utils.SyncService"
            android:stopWithTask="false" />
        <service
            android:name=".utils.OrderSyncService"
            android:stopWithTask="true" />

        <receiver
            android:name=".MainActivity$MyBroadcastReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver> <!-- Location tracking -->
        <service
            android:name=".TrackingService.TrackerService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".TrackingService.TrackerBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name=".TrackerActivity.ALARM_ACTION_START" />
            </intent-filter>
            <intent-filter>
                <action android:name=".TrackerActivity.ALARM_ACTION_END" />
            </intent-filter>
        </receiver>

        <service
            android:name=".TrackingService.TrackerTaskService"
            android:exported="true"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
        </service>
    </application>

</manifest>